<p>
  <strong><%= comment.commenter %> says : </strong>
  <%= comment.body %>
  <%= link_to 'Remove Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
