<h1>Welcome to my Blog!</h1>
This is a small blog made with Ruby on Rails! 

<br>
Bio: Hi, my name is Gazala. I'm 21 and currently studying Computer Science and Engineering at NITC. Take a look at the articles I've written:
<br>
<%= link_to '🌻 Articles Archive 🌻', controller: 'articles' %>
